<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <style>
        section {
            width: 50%;
        }
    </style>
</head>
<body>
<div style="display: flex">
    <section class="section">
        <div class="container">
            <h1 class="title">
                Doctors
            </h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Patients</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctor:${doctors}">
                    <td th:text="${doctor.name}"></td>
                    <td>
                        <ul>
                            <li th:each="patient:${doctor.patients}" th:text="${patient.name}"></li>
                        </ul>
                    </td>
                    <td>
                        <a class="button is-danger" th:href="'/doctor/delete/'+${doctor.uid}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Patients
            </h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Doctor</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient:${patients}">
                    <td th:text="${patient.name}"></td>
                    <td th:text="${patient.doctor.name}"></td>
                    <td>
                        <a class="button is-danger" th:href="'/patient/delete/'+${patient.uid}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<div style="display: flex">
    <section class="section">
        <div class="container">
            <h1 class="title">
                Add a doctor
            </h1>
            <form method="POST" th:action="@{/doctor}" th:object="${doctor}">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" th:field="*{name}" type="text"/>
                        <div class="notification is-danger mt-4" th:errors="*{name}"/>
                    </div>
                </div>
                <div class="field">
                    <button class="button" type="submit">Validate</button>
                </div>
            </form>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Add a patient
            </h1>
            <form method="POST" th:action="@{/patient}" th:object="${patient}">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" th:field="*{name}" type="text"/>
                        <div class="notification is-danger mt-4" th:errors="*{name}"/>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Doctor</label>
                    <div class="control">
                        <div class="select">
                            <select th:field="*{doctor}">
                                <option th:each="doctor: ${doctors}" th:text="${doctor.name}"
                                        th:value="${doctor.uid}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <button class="button" type="submit">Validate</button>
                </div>
            </form>
        </div>
    </section>
</div>

</body>
</html>